html {
    background-color: #626c66;
}

body {    
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: black;
    margin: 0 auto;
    width: 80%;
    padding: 25px;
    background-color: #918b76   
}

#me-img {
    width: 225px;
    height: auto;
    border-radius: 50%;   
    border: 2px solid #434a42;
}

#daily-comment {
    padding-bottom: 20px;
    border-bottom: 1px solid #434a42;
}

.topnav {
    background-color: #434a42;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:focus {    
    background-color: #ddd;
    color: black;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #e1ca96;
    color: black;
  }
