html {
    background-color: #626c66;
}

body {    
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin: 0 auto;
    width: 70%;
    padding: 25px;
    background-color: #b4b0a2
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6em; 
}

#me-img {
    width: 225px;
    height: auto;
    border-radius: 50%;   
    border: 2px solid #434a42;
}

#daily-comment {
    padding-top: 100px;
    text-align: right;
    border-bottom: 1px solid #434a42;
}

a:link, a:visited {
  color: brown;
  text-decoration: none;
}

a:focus, a:hover {
  color: dodgerblue;
  text-decoration: none;
}

.topnav {
    background-color: #434a42;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:focus {    
    background-color: #ddd;
    color: black;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #ddd;
    color: black;
  }
